<template>
    <tr @mouseenter="active = true" @mouseleave="active = false">
        <td>
            <span :class="iconClass">
                <fa icon="grip-vertical" class="fa-lg grab"></fa>
            </span>
            {{this.book.id}}
        </td>
        <td>
            <a @click="showDetailsModal = true">{{this.book.title}}</a>
        </td>
        <td>{{this.authorName}}</td>
        <td>
            {{this.book.publication_date}}
            <a v-if="loggedIn" :class="iconClass" @click="showEditModal = true">
                <fa icon="edit" class="fa-lg"></fa>
            </a>
            <a v-if="loggedIn" :class="iconClass" @click="showDeleteModal = true">
                <fa icon="trash-alt" class="fa-lg"></fa>
            </a>
        </td>
        <modal v-if="showEditModal" @close="showEditModal = false" >
            <edit-book-form :book="book" @bookUpdated="emitUpdated"></edit-book-form>
        </modal>
        <modal v-if="showDetailsModal" @close="showDetailsModal = false" >
            <book-details :book="book"></book-details>
        </modal>
        <modal v-if="showDeleteModal" @close="showDeleteModal = false" >
            <book-delete :book="book" @close="showDeleteModal = false" @bookDeleted="emitDeleted"></book-delete>
        </modal>
    </tr>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Modal from './Modal';
    import EditBookForm from './EditBookForm';
    import BookDetails from './BookDetails';
    import BookDelete from './BookDelete';
    export default {
        props: [
            'book'
        ],
        data() {
            return {
                active: false,
                showEditModal: false,
                showDetailsModal: false,
                showDeleteModal: false
            }
        },
        methods: {
            mouseOver() {
                this.active  = !this.active;
            },
            emitUpdated() {
                this.showEditModal = false;
                this.$emit('bookUpdated');
            },
            emitDeleted() {
                this.showDeleteModal = false;
                this.$emit('bookDeleted');
            }
        },
        computed: {
            ...mapGetters(['loggedIn']),
            authorName() {
                return `${this.book.author.first_name} ${this.book.author.last_name}`
            },
            iconClass() {
                return {
                    active: this.active,
                    'in-active': !this.active
                }
            },
        },
        components: {
            Modal,
            EditBookForm,
            BookDetails,
            BookDelete
        }
    }
</script>

<style>
    .active {
        color: black;
    }
    .in-active {
        color: rgba(0,0,0,0);
    }
    a.active {
        margin-left: 20px;
    }
    a.in-active {
        margin-left: 20px;
    }
    .grab {
        cursor: grab;
    }
</style>