<template>
        <table class="table is-fullwidth">
            <thead>
                <tr class="icon-parent">
                    <th>ID</th>
                    <th>Book</th>
                    <th>
                        Author
                        <a class="sort-icon" @click="showSorted = !showSorted">
                            <fa icon="arrows-alt-v" class="fa-lg"></fa>
                        </a>
                    </th>
                    <th>Publication Date</th>
                </tr>
            </thead>
            <draggable v-if="!showSorted" v-model="books" :element="'tbody'">
                <book v-for="book in books" :book="book" key="book.id" @bookUpdated="$emit('bookUpdated')" @bookDeleted="$emit('bookDeleted')"></book>
            </draggable>
            <draggable v-if="showSorted" v-model="books" :element="'tbody'">
                <book v-for="book in sortedBooksByAuthor" :book="book" key="book.id" @bookUpdated="$emit('bookUpdated')" @bookDeleted="$emit('bookDeleted')"></book>
            </draggable>
        </table>
</template>

<script>
    import draggable from 'vuedraggable';
    import Book from './Book';

    export default {
        data() {
            return {
                showSorted: false
            };
        },
        props: [
            'books'
        ],
        components: {
            Book,
            draggable
        },
        computed: {
            sortedBooksByAuthor() {
                return this.books.slice().sort((a,b) => (
                    `${a.author.first_name} ${a.author.last_name}` > `${b.author.first_name} ${b.author.last_name}`) ? 1
                    : ((`${b.author.first_name} ${b.author.last_name}` > `${a.author.first_name} ${a.author.last_name}`) ? -1 : 0)
                );
            },
        },
    }
</script>

<style>
    .icon-parent:hover .sort-icon {
        color: rgba(50, 115, 220, .3);
    }

    .sort-icon {
        color: rgba(0,0,0,0);
    }
    .sort-icon:hover {
        color: rgb(50, 115, 220) !important;
    }
</style>