<template>
    <div>
        <header class="modal-card-head">
            <p class="modal-card-title">{{book.title}}</p>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h3>Author - {{author}}</h3>
                <hr>
                <h4>Description</h4>
                <p>{{book.description}}</p>
                <hr>
                <h4>Publication Date</h4>
                <p>{{book.publication_date}}</p>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    props: [
        'book'
    ],
    computed: {
        author() {
            return `${this.book.author.first_name} ${this.book.author.last_name}`;
        }
    }
}
</script>