<template>
    <div>
        <header class="modal-card-head">
            <p class="modal-card-title">Are you sure you want to delete {{book.title}}</p>
        </header>
        <div v-if="error" class="content">
            <p class="help is-danger">You are not authorized to delete this book.</p>
        </div>
        <footer class="modal-card-foot">
            <button class="button is-danger" @click="handleDelete">Delete</button>
            <button class="button" @click="$emit('close')">Cancel</button>
        </footer>
    </div>
</template>

<script>
    export default {
        props: [
            'book'
        ],
        data() {
            return {
                error: false
            }
        },
        methods: {
            async handleDelete() {
                try {
                    await this.$axios({
                        url: `https://theringleman.info/api/books/${this.book.id}`,
                        method: 'delete',
                        headers: {
                            'X-Authorization': `Bearer ${this.$store.state.token}`
                        }
                    });
                    this.$emit('bookDeleted');
                } catch (error) {
                    this.error = true;
                }
            }
        }
    }
</script>