<template>
    <form @submit.prevent="submitForm">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input type="text" v-model.trim="book.title" class="column is-full is-medium" placeholder="Book Title">
                <p class="help is-danger" v-if="!$v.book.title.required && $v.book.$error">Title is required.</p>
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <input type="text" v-model.trim="book.description" class="column is-full is-medium" placeholder="Book Description">
            </div>
        </div>
        <div class="field">
            <label class="label">Author</label>
            <div class="control">
                <input type="text" v-model.trim="author" class="column is-full is-medium" placeholder="Book Author">
                <p class="help is-danger" v-if="!$v.book.author.required && $v.book.$error">Author is required.</p>
            </div>
        </div>
        <div class="field">
            <label class="label">Publication Date</label>
            <div class="control">
                <input type="date" v-model.trim="book.publication_date" class="column is-full is-medium" placeholder="Book Publication Date">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input type="submit" class="button is-primary" value="Edit Book">
            </div>
        </div>
    </form>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    export default {
        props: [
            'book',
        ],
        data() {
            return {
                authorName: '',
            }
        },
        validations: {
            book: {
                title: {
                    required
                },
                author: {
                    required
                }
            }
        },
        methods: {
            async submitForm() {
                this.$v.book.$touch();
                if (!this.$v.$error) {
                    const response = await this.$axios({
                        url: `https://theringleman.info/api/books/${this.book.id}`,
                        method: 'put',
                        data: this.getFormattedRequest(),
                        headers: {
                            'X-Authorization': `Bearer ${this.$store.state.token}`
                        }
                    });
                    this.$emit('bookUpdated');
                }
            },
            getFormattedRequest() {
                return {
                    title: this.book.title,
                    description: this.book.description,
                    author: this.authorName ? this.authorName : this.author,
                    publication_date: this.book.publication_date
                };
            }
        },
        computed: {
            author: {
                get: function () {
                    return `${this.book.author.first_name} ${this.book.author.last_name}`;
                },
                set: function(name) {
                    this.authorName = name;
                }
            }
        }
    }
</script>