<template>
    <nav class="navbar container" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <nuxt-link to="/" class="navbar-item">
                    Home
                </nuxt-link>

                <a class="navbar-item" href="https://documenter.getpostman.com/view/851924/RznBNfaY" target="_blank">
                    Documentation
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div v-if='!loggedIn' class="buttons">
                        <nuxt-link to="/sign-up" class="button is-primary">
                            <strong>Sign up</strong>
                        </nuxt-link>
                        <nuxt-link to="/log-in" class="button is-light">
                            Log in
                        </nuxt-link>
                    </div>
                    <div v-if="loggedIn" class="navbar-item">
                        <span v-if="$store.state.user">Hi {{$store.state.user.name}}</span>
                        <button class="button is-light logout-button" @click="logout">
                            Logout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
        computed: {
            ...mapGetters(['loggedIn']),
        },
        methods: {
            logout() {
                this.$store.dispatch('logout');
            }
        }
    }
</script>

<style>
    .navbar {
        margin-bottom: 20px;
    }
    .logout-button {
        margin-left: 10px;
    }
</style>
