<template>
  <section class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="is-size-3">Reading List</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item" v-if="$store.getters.loggedIn">
            <button class="button is-primary" @click="showCreateModal = true">Add Book</button>
        </div>
      </div>
    </div>
    <books-container :books="this.books" @bookUpdated="refreshBooks" @bookDeleted="refreshBooks"></books-container>
    <modal v-if="showCreateModal" @close="showCreateModal = false">
        <book-form @bookCreated="refreshBooks"></book-form>
    </modal>
  </section>
</template>

<script>
import BookForm from '~/components/BookForm.vue';
import BooksContainer from '~/components/BooksContainer.vue';
import Modal from '~/components/Modal.vue';
export default {
    data() {
        return {
            currentPage: 0,
            books: [],
            showCreateModal: false
        }
    },
    async mounted() {
        this.getBooks();
    },
    methods: {
        async getBooks() {
            const response = await this.$axios.get('https://theringleman.info/api/books');
            this.currentPage = response.data.current_page;
            this.books = response.data.data;
        },
        refreshBooks() {
            this.showCreateModal = false;
            this.getBooks();
        }
    },
    components: {
        BookForm,
        BooksContainer,
        Modal
    }
}
</script>

<style>


</style>
