<template>
    <div class="container">
        <h2>Please Login</h2>
        <form @submit.prevent="submitForm">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input type="email" v-model.trim="user.email" class="column is-full is-medium" placeholder="Enter your email please.">
                    <p class="help is-danger" v-if="!$v.user.email.email">Please enter a valid email.</p>
                    <p class="help is-danger" v-if="!$v.user.email.required && $v.user.$error">Email is required.</p>
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Password <span class="has-text-danger" v-if="!$v.user.password.required">*</span>
                </label>
                <div class="control">
                    <input type="password" v-model.trim="user.password" class="column is-full is-medium" placeholder="Please enter a password.">
                    <p class="help is-danger" v-if="!$v.user.password.required && $v.user.$error">Password is required.</p>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-primary" value="Log In">
                </div>
            </div>
        </form>
        <div class="server-error" v-if="hasError">
            <p class="help is-danger">Login failed, please try again.</p>
        </div>
    </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
export default {
    data() {
        return {
            hasError: false,
            user: {
                email: "",
                password: "",
            },
            serverErrorObject: null,
        }
    },
    validations: {
        user: {
            email: {
                required,
                email
            },
            password: {
                required,
            }
        }
    },
    methods: {
        async submitForm() {
            try {
                const response = await this.$axios.post('https://theringleman.info/api/auth/login', this.user);
                const token = response.data.token;
                this.storeToken(token);
                this.$store.dispatch('getUser');
                this.$router.push({
                    path: '/'
                });
            } catch (error) {
                this.hasError = true;
            }
        },
        storeToken(token) {
            localStorage.token = token;
            this.$store.commit('setToken', token);
        }
    }
}
</script>
