<template>
    <div class="container">
        <form @submit.prevent="submitForm">
            <div class="field">
                <label class="label">
                    Name <span class="has-text-danger" v-if="!$v.user.name.required">*</span>
                </label>
                <div class="control">
                    <input type="text" v-model.trim="$v.user.name.$model" class="column is-full is-medium" placeholder="Enter your name please.">
                    <p class="help is-danger" v-if="!$v.user.name.required && $v.user.$error">Name is required.</p>
                    <p class="help is-danger" v-if="!$v.user.name.minLength">Name must have at least {{$v.user.name.$params.minLength.min}} letters.</p>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input type="email" v-model.trim="user.email" class="column is-full is-medium" placeholder="Enter your email please.">
                    <p class="help is-danger" v-if="!$v.user.email.email">Please enter a valid email.</p>
                    <p class="help is-danger" v-if="!$v.user.email.required && $v.user.$error">Email is required.</p>
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Password <span class="has-text-danger" v-if="!$v.user.password.required">*</span>
                </label>
                <div class="control">
                    <input type="password" v-model.trim="user.password" class="column is-full is-medium" placeholder="Please enter a password.">
                    <p class="help is-danger" v-if="!$v.user.password.minLength">Password must be at least {{$v.user.password.$params.minLength.min}} characters.</p>
                    <p class="help is-danger" v-if="!$v.user.password.required && $v.user.$error">Password is required.</p>
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Password Confirmation <span class="has-text-danger" v-if="!$v.user.password_confirmation.required">*</span>
                </label>
                <div class="control">
                    <input type="password" v-model.trim="user.password_confirmation" class="column is-full is-medium" placeholder="Please enter it again.">
                    <p class="help is-danger" v-if="!$v.user.password_confirmation.sameAs">Passwords must match.</p>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-primary" value="Sign Up">
                </div>
            </div>
            <div class="server-error" v-if="serverError">
                <p class="help is-danger" v-for="errorMessage in serverErrorMessages" key="errorMessage.key">{{errorMessage.message}}</p>
            </div>
        </form>
    </div>
</template>

<script>
    import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
    export default {
        data() {
            return {
                user: {
                    name: "",
                    email: "",
                    password: "",
                    password_confirmation: ""
                },
                serverErrorObject: null,
            }
        },
        validations: {
            user: {
                name: {
                    required,
                    minLength: minLength(4)
                },
                email: {
                    required,
                    email
                },
                password: {
                    required,
                    minLength: minLength(6)
                },
                password_confirmation: {
                    required,
                    sameAs: sameAs('password')
                }
            }
        },
        methods: {
            async submitForm() {
                this.$v.user.$touch();
                if (!this.$v.$error) {
                    try {
                        await this.$axios.post('https://theringleman.info/api/auth/signup', this.user);
                        this.$router.push({
                            path: '/log-in'
                        });
                    } catch (error) {
                        this.serverErrorObject = error.response.data;
                    }
                }
            }
        },
        computed: {
            serverError() {
                return !!this.serverErrorObject;
            },
            serverErrorMessages() {
                return Object.keys(this.serverErrorObject.errors).map(error => {
                    return {
                        message: this.serverErrorObject.errors[error][0],
                        key: Math.random()
                    }
                })
            }
        }
    }
</script>